<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="https://aa.victorbrink.dev/script.js"></script>
		<title></title>
	</head>
	<body class="bg-[#09090b] min-h-screen w-full m-0 p-0">
		<div class="px-[2rem] pt-[1rem] sm:px-32 sm:pt-[2rem] md:px-40 md:pt-[4rem] xl:pt-[6rem] xl:px-52 2xl:pt-[9rem] 2xl:px-72">
			<slot />
		</div>
	</body>
</html>
