<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title></title>
	</head>
  <body class="bg-[#09090b] 2xl:pt-36 2xl:px-72">
		<slot />
	</body>
</html>
